<div class="affliste">
    <div class="persosAct">
        <h2>Personnages actifs</h2>
        <div *ngFor="let perso of persos; let i = index">      
            <div class="itemLi mt-2" *ngIf="perso.active"> 
                <div class="form-check form-switch mr-4">
                    <input class="form-check-input" type="radio" [checked]="perso.active" (click)="changeState(perso)">
                </div>
                <span>{{perso.name}}</span>
                
                <button  mat-mini-fab  color="warn" (click)="deletePersoFromChild(perso.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div> 
    <div class="persosAct">
        <h2>Personnages non actifs</h2>
        <div *ngFor="let perso of persos; let i = index">
            <div class="itemLi mt-2" *ngIf="!perso.active">  
                <div class="form-check form-switch mr-4">
                    <input class="form-check-input" type="radio" [checked]="perso.active" (click)="changeState(perso)">
                </div>
                <span>{{perso.name}}</span>
                <button mat-mini-fab  color="warn" (click)="deletePersoFromChild(perso.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>