.affliste{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.itemLi {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.persosAct{
    text-align: center;
    background-color: beige;
    padding: 10px;
    border-radius: 20px;
}