
<div class="form">
    <div class="header">
        <img src="./../../../assets/images/logo.webp" alt="logo">
    </div>
    <h2>Ajouter un Personnage</h2>
    <div class="mb-3 name">
        <input type="text" [(ngModel)]="name">
    </div>
    <div class="form-check form-switch checkbox activeCheck">
        <input class="form-check-input rad"  type="checkbox" [(ngModel)]="active">
        <label class="form-check-label" for="state"> Etat</label>
    </div> 
    <div class="bouton">
        <button  class="btn btn-success" (click)="addPerso()">Ajouter</button>
    </div> 
    
    
</div>
