.form{
    display: flex;
    flex-direction: row;
    align-items: center !important;
    height: 150px;
}
.activeCheck {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 19px !important;
}

h2{
    color: rgb(233, 70, 30);
    margin-right: 10px;
}

.activeCheck label {
    color: white;
    margin-left: 10px;
    margin-bottom: -3px !important;

}

.name {
    margin-right: 10px;
    background-color: aqua;
}

.header img{
    height: 100px;
    width: auto;
    margin-bottom: 15px !important;
}

.bouton{
    margin-bottom: 15px !important;
}