
<app-add-perso class="addPerso" (newPerso)="addPerso($event)"></app-add-perso>
<app-display-lol [persos]="persos" (deletePerso)="deletePerso($event)" (changePerso)="changePerso($event)"></app-display-lol>


